/* Write your code here. */
.bg-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
h1{
    font-family:"Roboto"
    margin-bottom:18px;
    color:#0f172b;

}
p{
    color:#ffffff;
    align-self:center;
    font-family:"Bree Serif";
}
.box-container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;

}
.small{
    background-color:#fbbf24;
    height:75px;
    width:125px;
}
.medium{
    background-color:#38bdf8;
    height:100px;
    width:150px;
}
.large{
    background-color:#ec4899;
    height:125px;
    width:200px
}

